

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.clearfix {
    *zoom: 1;
}

.clearfix:after {
    clear: both;
    content: "";
    display: table;
}

body {
	/*
	background: url('../img/gray_jean.png') top left repeat;
	*/
	background: url('../img/grey_wash_wall.png') top left repeat;
}

.item_container {
	background-color: #E9E9E9;
	margin-bottom: 35px;
	/*
	border-radius: 6px 6px 6px 6px;
	box-shadow: 5px 5px 20px -5px rgba(0, 0, 0, 0.3);
	*/
	border: 1px solid #CCC;
}
.image_holder_inner {
	overflow: hidden;
}

.image_holder {
	/*
	padding: 10px;
	*/
}

.image_holder_inner > img {
	/*
    -webkit-transition: all 0.29s ease-out;    
    -moz-transition: all 0.29s ease-out;   
	*/
}

.image_holder_inner:hover > img {
	/*
	-webkit-transition: all 0.29s ease-out;
    -moz-transition: all 0.29s ease-out;
    -webkit-transform: rotate(0deg) scale(1.05, 1.05); 
    -moz-transform: rotate(0deg) scale(1.05, 1.05); 
	*/
}

.desc_holder {
	padding: 10px;
	background-color: #F9F9F9;
	/*
	border-radius: 6px 6px 0px 0px;
	*/
	border-bottom: 1px solid #DDD;
}

.desc_holder .title {
	font-size: 18px;
	float: left;
}

.actions_holder {
	padding: 10px;
	background-color: #F9F9F9;
	border-radius: 0px 0px 6px 6px;
	border-top: 1px solid #DDD;
}

.actions_holder .score {
	font-size: 11px;
	color: #666;
	float: left;
}


ul.icon_holder {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

ul.icon_holder li {
	float: right;
	padding-left: 10px;
}

.comments_holder {
	background: url('../img/debut_light.png') top left repeat;
	padding: 20px;

	border-top: 1px solid #DDD;
	border-radius: 0px 0px 6px 6px;

	max-height: 300px;
	overflow-y: auto;
}

.comment_holder {
	border-left: 1px solid #DDD;
	padding-left: 7px;
}
.comment_titlebar {
	border-bottom:1px solid #eee;
	padding: 3px 0px;
	color: white;
	border-radius: 6px 6px 0px 0px;
}
.comment_author {
	float:left;
	color: #555;
}
.comment_karma {
	font-size: 10px;
	color: gray;
	float:right;
}
.comment_body {
	background-color: rgba(255, 255, 255, 0.33);
	padding: 5px;
	margin-bottom: 5px;
	border-radius: 6px 6px 6px 6px;
	border-bottom: 1px solid #eee;
}
.comment_replies {
}
.loading {
	color: #333;
}
.hero_container {
	border: 1px solid #DDD;
	background-color: #F5F5F5;
}
#alien {
}
.subreddit_name {
	margin-bottom: 0;
	border-radius: 0px;
	background-color: #fff;
}

.additional_subreddits {
	background-color: #E9E9E9;
	padding: 10px;
	border: 1px #CCC solid;
	/*
	border-radius: 0 0 6px 6px;
	*/
	margin-bottom: 20px;
}
.additional_subreddits .listing {
	padding-top: 5px;
}
.additional_subreddits .listing span {
	padding-left: 5px;
	padding-right: 10px;	
}
.subreddit_link {
	cursor: pointer;
	padding-right: 10px;
}
.more_links {
	text-align: center;
}
